jupyter
ollama
openai
llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
sentence-transformers
pypdf2
pypdf
chromadb
huggingface-hub
tavily-python
matplotlib
unstructured[md]
scikit-learn
plotly
pydantic
ddgs
langchain
langchain-community
langchain-openai
numpy
pandas
pydantic-settings
python-dotenv
ipywidgets
